@model IEnumerable<Book>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>@Html.DisplayNameFor(model=>model.Author)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var book in Model)
        {
            <tr>
                <td>
                    @* <a href="/books/detail/@book.Id">@book.Title</a> | *@
                  @*   bir controller işlemine ve o işlemin parametresine dayalı 
                    olarak bir URL oluşturur. *@

                    <a asp-action="Detail" asp-route-id="@book.Id">@book.Title</a>
                </td>
                <td>@book.Author </td>
                <td> <a asp-action="Delete" asp-route-id="@book.Id" onclick="return confirm('Silmek istediğinizden emin misiniz?')"> Sil </a> | Güncelle </td>
                
            </tr>

        }
    </tbody>

</table>
<div margin-top: 20px;">
    <a asp-action="Create" class="btn btn-primary">Ekle</a>
</div>
